<html lang="en">
  <%- include('core/head', { title: (details && details.name) || title }) %>
  <body>
    <%- include('core/header') %>
    <div class="wrapper">
      <%- include('core/nav-bar', { showHome: true }) %>
      <div class="content">
        <div class="page-header">
          <% if (details) { %>
            <p class="page-title"><%= details.name %></p>
            <p class="page-description"><%= details.description %></p>
          <% } else { %>
            <p class="page-title"><%= title %></p>
          <% } %>
        </div>
        <% if (files.length > 0) { %>
          <p><b>Files:</b></p>
        <% } %>
        <ul class="file-links">
          <% files.forEach(file => { %>
            <li><a href="/viewer?file=<%= encodeURIComponent(file.path) %>"><p><%- file.name %></p></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
